@font-face {
  font-family: yofont;
  src: url("/TakeYouToPlay/img/iconfont/iconfont.woff") format("woff"),
   url("/TakeYouToPlay/img/iconfont/iconfont.ttf") format("truetype");
}

@font-face {
  font-family: yofont;
  src: url("/TakeYouToPlay/img/iconfont/iconfont-menu.woff") format("woff"),
   url("/TakeYouToPlay/img/iconfont/iconfont-menu.ttf") format("truetype");
}
